@font-face {
  font-family: 'sanFranciscoTextRegular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/SFUIText-Regular.eot');
  src: url('assets/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SFUIText-Regular.woff2') format('woff2'), url('assets/fonts/SFUIText-Regular.woff') format('woff'), url('assets/fonts/SFUIText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'sanFranciscoTextMedium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/SFUIText-Medium.eot');
  src: url('assets/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SFUIText-Medium.woff2') format('woff2'), url('assets/fonts/SFUIText-Medium.woff') format('woff'), url('assets/fonts/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'sanFranciscoTextBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/SFUIText-Bold.eot');
  src: url('assets/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SFUIText-Bold.woff2') format('woff2'), url('assets/fonts/SFUIText-Bold.woff') format('woff'), url('assets/fonts/SFUIText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'sanFranciscoTextHeavy';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/SFUIText-Heavy.eot');
  src: url('assets/fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SFUIText-Heavy.woff2') format('woff2'), url('assets/fonts/SFUIText-Heavy.woff') format('woff'), url('assets/fonts/SFUIText-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'robotoSlabBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/robotoslab-bold-webfont.eot');
  src: url('assets/fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'), url('assets/fonts/robotoslab-bold-webfont.woff') format('woff'), url('assets/fonts/robotoslab-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'sourceSansProBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/SourceSansPro-Bold.eot');
  src: url('assets/fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/SourceSansPro-Bold.woff2') format('woff2'), url('assets/fonts/SourceSansPro-Bold.woff') format('woff'), url('assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ralewayBlack';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/raleway-black-webfont.eot');
  src: url('assets/fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-black-webfont.woff2') format('woff2'), url('assets/fonts/raleway-black-webfont.woff') format('woff'), url('assets/fonts/raleway-black-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'ralewayExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/raleway-extrabold-webfont.eot');
  src: url('assets/fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'), url('assets/fonts/raleway-extrabold-webfont.woff') format('woff'), url('assets/fonts/raleway-extrabold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'montserratBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/montserrat-bold-webfont.eot');
  src: url('assets/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/montserrat-bold-webfont.woff2') format('woff2'), url('assets/fonts/montserrat-bold-webfont.woff') format('woff'), url('assets/fonts/montserrat-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'montserratMedium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/montserrat-medium-webfont.eot');
  src: url('assets/fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/montserrat-medium-webfont.woff2') format('woff2'), url('assets/fonts/montserrat-medium-webfont.woff') format('woff'), url('assets/fonts/montserrat-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'montserratRegular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/montserrat-regular-webfont.eot');
  src: url('assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/montserrat-regular-webfont.woff2') format('woff2'), url('assets/fonts/montserrat-regular-webfont.woff') format('woff'), url('assets/fonts/montserrat-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gothamProBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/GothamPro-Bold.eot');
  src: url('assets/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/GothamPro-Bold.woff2') format('woff2'), url('assets/fonts/GothamPro-Bold.woff') format('woff'), url('assets/fonts/GothamPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'gothamProBlack';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/GothamPro-Black.eot');
  src: url('assets/fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('assets/fonts/GothamPro-Black.woff2') format('woff2'), url('assets/fonts/GothamPro-Black.woff') format('woff'), url('assets/fonts/GothamPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'robotoBold';
  src: url('assets/fonts/roboto-bold-webfont.eot');
  src: url('assets/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'), url('assets/fonts/roboto-bold-webfont.woff') format('woff'), url('assets/fonts/roboto-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoRegular';
  src: url('assets/fonts/roboto-regular-webfont.eot');
  src: url('assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'), url('assets/fonts/roboto-regular-webfont.woff') format('woff'), url('assets/fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoCondensedBold';
  src: url('assets/fonts/robotocondensed-bold-webfont.eot');
  src: url('assets/fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('assets/fonts/robotocondensed-bold-webfont.woff') format('woff'), url('assets/fonts/robotocondensed-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoRegular';
  src: url('assets/fonts/lato-regular-webfont.eot');
  src: url('assets/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/lato-regular-webfont.woff2') format('woff2'), url('assets/fonts/lato-regular-webfont.woff') format('woff'), url('assets/fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoBold';
  src: url('assets/fonts/lato-bold-webfont.eot');
  src: url('assets/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/lato-bold-webfont.woff2') format('woff2'), url('assets/fonts/lato-bold-webfont.woff') format('woff'), url('assets/fonts/lato-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoExtraBold';
  src: url('assets/fonts/lato-black-webfont.eot');
  src: url('assets/fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/lato-black-webfont.woff2') format('woff2'), url('assets/fonts/lato-black-webfont.woff') format('woff'), url('assets/fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfUiDisplayBold';
  src: url('assets/fonts/sfuidisplay-bold-webfont.eot');
  src: url('assets/fonts/sfuidisplay-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/sfuidisplay-bold-webfont.woff2') format('woff2'), url('assets/fonts/sfuidisplay-bold-webfont.woff') format('woff'), url('assets/fonts/sfuidisplay-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfUiDisplayMedium';
  src: url('assets/fonts/sfuidisplay-medium-webfont.eot');
  src: url('assets/fonts/sfuidisplay-medium-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/sfuidisplay-medium-webfont.woff2') format('woff2'), url('assets/fonts/sfuidisplay-medium-webfont.woff') format('woff'), url('assets/fonts/sfuidisplay-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfUiDisplayRegular';
  src: url('assets/fonts/sfuidisplay-regular-webfont.eot');
  src: url('assets/fonts/sfuidisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/sfuidisplay-regular-webfont.woff2') format('woff2'), url('assets/fonts/sfuidisplay-regular-webfont.woff') format('woff'), url('assets/fonts/sfuidisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfUiDisplaySemibold';
  src: url('assets/fonts/sfuidisplay-semibold-webfont.eot');
  src: url('assets/fonts/sfuidisplay-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/sfuidisplay-semibold-webfont.woff2') format('woff2'), url('assets/fonts/sfuidisplay-semibold-webfont.woff') format('woff'), url('assets/fonts/sfuidisplay-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfUiDisplayHeavy';
  src: url('assets/fonts/sfuidisplay-heavy-webfont.eot');
  src: url('assets/fonts/sfuidisplay-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/sfuidisplay-heavy-webfont.woff2') format('woff2'), url('assets/fonts/sfuidisplay-heavy-webfont.woff') format('woff'), url('assets/fonts/sfuidisplay-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
