* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  @extend %ws-body-2;

  margin: 0;
  padding: 0;
  color: $primary;
  line-height: 1.42;
  -webkit-user-select: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: inherit;
}

section {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

button {
  border: 0;
  outline: none;
  background-color: transparent;
}

figure,
ul,
p {
  margin: 0;
}

img {
  display: block;
}

header {
  padding: 0;
}

footer {
  font-size: inherit;
  font-style: normal;
}

svg {
  title {
    display: none;
  }
}

a {
  color: $link;

  &:hover {
    color: $link-hover;
  }

  &.caption-link {
    color: $link;

    &:hover {
      color: $link-hover;
    }
  }
}

input[type='checkbox'] + div {
  padding: 0 9px 5px 36px;
  background: url('assets/images/checkbox.png') 0 0 no-repeat;
}

input[type='checkbox'] {
  position: absolute;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0;

  &:checked + div {
    background: url('assets/images/checkbox-check.png') 0 0 no-repeat;
  }
}

.toast-notification {
  font-size: 20px !important;
}

.flex {
  flex-grow: 1 !important;
}

.main-body {
  width: 100%;
  overflow-x: hidden;
}

.checkbox-inline {
  padding-left: 0 !important;
}

.link-text {
  color: $link;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

.modal-trigger {
  color: $link;
  cursor: pointer;

  &:hover {
    color: $link-hover;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.block-line-wrapper {
  &--dark-color {
    background: $swamp-green;
  }
}

.global-toast {
  border-radius: 6px;
  color: $white !important;
  font-size: 18px;

  &.toastify-content {
    &--success {
      background: $success-color !important;
    }

    &--error {
      background: $warning !important;
    }
  }

  .toast-link {
    color: $white !important;
    text-decoration: underline;

    &:hover {
      color: $link !important;
    }
  }
}

.the-white {
  &__home-link {
    display: block;
  }

  svg {
    display: block;
    width: 54px;
    height: 24px;
  }
}

.not-found {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.pointer {
  cursor: pointer;
}

.react-confirm-alert {
  h1 {
    letter-spacing: 0.3px;
  }
}

.react-confirm-alert-overlay {
  z-index: 9999 !important;
}

.error-wrap {
  position: relative;
  top: -15px;
  margin-left: 32px;
  color: $warning;
}

.error-text {
  margin: 6px 5px 0 0;
  color: $warning;
}

.ws-action {
  height: 44px;
  margin: 6px 0;
  border-radius: 6px;
  background: $link;
  color: $white;
  font-size: 18px;
  cursor: pointer;

  &--secondary {
    height: auto;
    margin: 44px 0 0;
    padding: 4px;
    background: none;
    color: $link;
    font-size: 16px;
  }

  &--disabled {
    background: $label-color;
    cursor: default;
  }
}

.ws-input-line {
  .input-block,
  .base-date-picker {
    width: 46%;
  }

  &--third {
    .input-block,
    .base-date-picker {
      width: 30%;
    }
  }
}

.require {
  color: $warning;
}

.tabs-list {
  margin: 0 0 24px;
  padding: 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  list-style: none;

  &__item {
    padding: 10px 24px;
    cursor: pointer;

    &:hover {
      background-color: $active-tab-bg;
    }

    &--active {
      background-color: $active-tab-bg;
      color: $link;
    }
  }
}

.dictionary-items-list-wrap {
  width: 100%;
}

.dictionary-list__buttons-row {
  margin-bottom: 24px;
}

.dictionary-list__button {
  display: flex;
  align-items: center;
  height: 36px;
  margin: 0 6px;
  padding: 0 15px;
  border-radius: 6px;
  background: $thin-gray;
  color: $primary !important;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;

  svg {
    margin-right: 12px;
    fill: $primary;
    color: $primary;
  }

  .material-icons {
    margin-right: 12px;
    color: $primary;
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--primary {
    background: $blue;
    color: $white !important;
  }
}
