// TODO: нужное оставить, лишнее удалить
$link: #1e61b8;
$light-gray: #e8e8e8;
$label-color: #a1aec3;
$warning: #d33a2c;
$link-hover: #3379d6;
$active-tab-bg: #f6f6f6;
$yellow-color: #ffc400;
$yellow-square: #f3ce4d;
$green-square: #cbd633;
$warning-color: #8e0000;
$regular-blue: #0079a6;
$line: #e8e8e8;
$success-color: #388e3c;
$gray-color: #8a9093;
$light-blue-color: #bee4f3;
$hover-blu-color: #9facd9;
$hover-yellow-color: #e7ae00;
$disabled-color: #e9e9e9;
$orange-color: #ff6d3c;
$green: #00cc5b;
$nav-gray: #aca7a2;
$gray: #7e8688;
$yellow-selected: #eeb904;
$gray-title: #8b8b90;
$gray-background: #f5f5f5;
$title-disabled: #70848d;
$error-bg: #ffebee;
$error-line: #ffcdd2;
$error-color: #ff6c41;
$hover-bg: #f5f5f5;
$select-check: #0086f8;
$pink: #ffecee;
$light-green: #e3f5e9;
$swamp-green: #3a474d;
$light-swamp-green: #707f86;
$input-background: #eee;

// Style guide colors
$primary: #212121;
$secondary: #91adbb;
$line: #eee;
$main-bg: #f9f9f9;
$action-secondary: #65a3be;
$regular-blue: #0d58b3;
$medium-blue: #207291;
$dark-blue: #0e3e50;
$satisfaction-0: #bf360c;
$satisfaction-20: #ff6f00;
$satisfaction-40: #e3b700;
$satisfaction-60: #40b145;
$satisfaction-80: #007605;
$regular-background: #f7f7f7;

// Old colors, TODO: remove
$thin-peach: #fbf6f3;
$light-peach: #f3eeea;
$peach: #bdb4ad;
$gray-new: #9f9f9f;
$thin-green: #f2fbf7;
$thin-red: #fdebeb;
$green: #48b283;
$red: #c17777;
$thin-blue: #95e5ff;
$blue: #1b9cc8;
$blue-gray: #6299ac;
$blue-green: #1c5c75;
$yellow: #d7aa31;
$pink-bg: #e17076;

// Other colors
$white: #fff;
$black: #000;
$blue-purple: #1b41bd;
$rating-icon-filled: #ecba35;
$metric-icon-color: #e2f4ec;
$dark-teal: #08313d;
$dot: #3a3a3a;
$thin-gray: #f7f7f7;
$border-gray: #eee;
$blue-gradient-start-point: #056298;
$blue-gradient-finish-point: #1989ca;
$green-gradient-start-point: #033028;
$green-gradient-finish-point: #009688;
$orange: #ec7010;
$rose: #e84f64;

// Zab template special colors
$zab-secondary: #600835;
$zab-purple-main: #bd2774;
$zab-purple-secondary: #a82267;
$zab-gold: #ffcb06;
$zab-gray: #616161;
$zab-purple-main-dark: #91004b;
$zab-purple-main-light: #d6428f;
$zab-pink-gradient: linear-gradient(90deg, #91004b 0.69%, $zab-purple-main 35.14%, $zab-purple-main-light 100%);
$zab-blue-gray: #4f5b66;
$zab-graphite: #648ea3;

// Ad template special colors
$ad-primary: #2b2b2b;
$ad-secondary: #989898;
$ad-background: #f7f7f7;
$ad-line: #eee;
$ad-action-light: #f23a41;
$ad-action-regular: #d1232a;
$ad-action-medium: #9b0e14;
$ad-action-dark: #282828;
$ad-background-gradient: linear-gradient(90deg, $ad-action-medium 0%, $ad-action-regular 34.69%, $ad-action-light 100%);

// Skh template special colors
$skh-support-back: #0a2a3c;
$skh-logo: #83d0f5;

// Kam template special colors
$kam-primary:  #000;
$kam-secondary: #9f9f9f;
$kam-satisfaction-80: #188e64;
$kam-satisfaction-60: #48b282;
$kam-satisfaction-40: #d7ab32;
$kam-satisfaction-20: #c78b45;
$kam-satisfaction-0: #d14545;
$kam-regular-background: #fbf6f3;
$kam-line: #f3eeea;
$kam-action-secondary: #6299ad;
$kam-blue: #0d58b3;
$kam-regular-blue: #1b9bc8;
$kam-medium-blue: #207291;
$kam-dark-blue: #195369;
$kam-women: #99339b;
$kam-gray: #d0d0d0;
$kam-lite-green: #e5e5e5;
$kam-map-back: #cbd633;
$kam-blue-gradient-start-point: #056298;
$kam-blue-gradient-finish-point: #1989ca;
$kam-blue-gradient: linear-gradient($kam-blue-gradient-start-point, $kam-blue-gradient-finish-point);

// Kam template special values
$wide-section-content-part-width: 424px;
$wide-section-back-content-part-width: 848px;
$kam-main-page-map-content-width: 544px;

// Other variables
$page-container-width: 1360px;
$common-wrapper-width: 1332px;
$page-wrapper-width: 1272px;
$content-column-width: 856px;
$stat-column-width: 416px;
$sidebar-column-width: 360px;
$entity-container-width: 960px;
$drop-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
$width-container: 808px; // TODO: заменить и убрать
$default-border: 1px solid $border-gray;
$border-radius: 4px;
$transition: 0.1s;
$slow-transition: 0.35s;
$default-transition: all $slow-transition ease-out;
$default-dark-overlay: rgba(0, 0, 0, 0.4);
$default-content-top-indent: 40px;
$default-content-bottom-indent: 80px;
$vk: #4e7db2;
$twitter: #0f93ee;

// New Layout values
$r41-gradient-light: linear-gradient(136.26deg, #006B96 22.39%, #0099D4 57.94%);
$blue-gradient: linear-gradient(90deg, #001167 0.69%, #00338c 35.14%, #0074d2 100%);
$usr-parallax-gradient: linear-gradient(180deg, #00507b 0%, #9ce2eb 82.71%);
$full-hd-container-width: 1920px;
$hd-container-width: 1360px;
$main-content-column-width: 840px;
$sidebar-column-width: 320px;
$dynamicIndent: calc((100% - (#{$main-content-column-width} + #{$sidebar-column-width} * 2)) / 4);
$sidebar-column-margin: calc((100% - (#{$main-content-column-width} + #{$sidebar-column-width} * 2)) / 2);

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

$animationSpin: spin 2s linear 0s infinite;

// Template variables
$adTemplate: 'ad';
$kamTemplate: 'kam';
$khvTemplate: 'khv';
$r41Template: 'r41';
$r45Template: 'r45';
$skhTemplate: 'skh';
$usrTemplate: 'usr';
$zabTemplate: 'zab';
