.test-component {
  &__wrap {
    max-width: 840px;
  }

  &__content {

  }

  &__wrap {
    padding-top: 15px;
  }

  &__subject {
    width: 280px;
    background-color: $bs020;
    border-radius: 4px;
  }

  &__subject-icon-wrap {
    height: 38px;
    width: 38px;
    border: $ae000;
    border-radius: 50%;
    padding: 11px 5px;
    margin-right: 12px;
  }

  &__subject-item {
    width: 100%;
    padding: 12px;

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &:hover {
      cursor: pointer;
      background-color: $cab500;
      color: $ae000;

      .test-component__subject-icon-wrap {
        background-color: $ae000;
      }
    }
  }

  &__category-subject {
    max-width: 100%;
    margin-left: 18px;
  }

  &__category-subject-item {
    padding: 12px 8px;
    border-bottom: 3px solid $bs020;
    
    &:hover {
      cursor: pointer;

      .test-component__category-subject-item-name {
        color: $cab500;
        text-decoration: underline;
      }
    }
  }

  &__category-subject-item-description {
    margin-top: 6px;
  }
}
