.main-page {
  width: 100%;

  &__header {
    position: relative;
    min-height: 800px;
    max-width: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }

  &__title {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__controls {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
  }

  &__control-button {
    width: 60px;
    height: 3px;
    transition: opacity 0.75s ease-in-out;
    opacity: 0.32;
    background-color: #fff;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &--current,
    &:hover {
      opacity: 1;
    }
  }

  &__track {
    position: absolute;
    left: 0;
    height: 100%;
  }

  &__track-item {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.75s ease-in-out;
    transition-delay: 0.75s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--visible {
      z-index: 1;
      left: 0;
      transition-delay: unset;
    }
  }

  // &__header {
  //   width: 100%;
  //   height: 100vh;
  //   padding: 40px;
  //   box-sizing: border-box;
  //   background-image: url(assets/images/backgroundImageSoloma.png);
  // }

  // &__header-left-wrap {
  //   width: calc((100% - 80px) / 2);
  //   margin: 0 40px 0 0;
  // }

  // &__header-left-title {
  //   position: relative;
  //   width: 300px;
  //   border-top: 4px solid $secondary;
  //   transition-property: width, opacity;
  //   opacity: 1;
  //   transition-duration: 2s;

  //   &:hover {
  //     width: 100%;
  //     height: 50vh;
  //     border-radius: 10px;
  //     border: 3px solid $secondary;
  //     background: url(assets/images/thoughts.jpg);
  //     opacity: 10;
  //     cursor: pointer;

  //     .main-page__title-name {
  //       color: $white;
  //     }

  //     .main-page__header-left {
  //       z-index: 2;
  //     }

  //     .main-page__header-left-background {
  //       z-index: 1;
  //     }
  //   }
  // }

  // &__header-left {
  //   width: calc((100% - 80px) / 2);
  //   margin: 20px;
  // }

  // &__header-left-background {
  //   background-color: #000;
  //   height: 100%;
  //   left: 0;
  //   border-radius: 10px;
  //   opacity: 0.50;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   z-index: -1;
  // }

  // &__header-center {
  //   height: 50vh;
  //   border: 2px solid $secondary;;
  //   border-radius: 10px;
  // }

  // &__title-name {
  //   text-transform: uppercase;
  // }

  &__terms {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(76, 75, 182);
    color: #fff;
  }

  &__term {
    margin: 0 20px 0 0;
  }
}
