.ws-voice-infinity-spinner {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white, 0.87);

  &--absolute {
    position: absolute;
  }

  &--no-back {
    position: absolute;
    background-color: transparent;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__loading-text {
    margin-bottom: 16px;
    text-align: center;
  }

  &__curve {
    width: 60px;
    height: 60px;
    animation: loading 1s ease-out infinite;
    border: 6px solid $dark-blue;
    border-radius: 50%;
    border-top-color: transparent;
    background-color: transparent;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
